function Board.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop static 0
push constant 25
pop static 1
push pointer 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.display 0
push argument 0
pop pointer 0
call Board.draw 0
pop temp 0
call Board.label 0
pop temp 0
push constant 0
return
function Board.label 0
call Board.addTitle 0
pop temp 0
call Board.addCategories 0
pop temp 0
call Board.fillBoard 0
pop temp 0
call Board.showScore 0
pop temp 0
push constant 0
return
function Board.addTitle 1
push constant 10
call String.new 1
push constant 74
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 33
call String.appendChar 2
pop local 0
push constant 1
push constant 27
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
push constant 0
return
function Board.addCategories 5
push constant 1
call String.new 1
push constant 65
call String.appendChar 2
pop local 0
push constant 1
call String.new 1
push constant 66
call String.appendChar 2
pop local 1
push constant 1
call String.new 1
push constant 67
call String.appendChar 2
pop local 2
push constant 1
call String.new 1
push constant 68
call String.appendChar 2
pop local 3
push constant 1
call String.new 1
push constant 69
call String.appendChar 2
pop local 4
push constant 3
push constant 10
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
push constant 3
push constant 20
call Output.moveCursor 2
pop temp 0
push local 1
call Output.printString 1
pop temp 0
push constant 3
push constant 30
call Output.moveCursor 2
pop temp 0
push local 2
call Output.printString 1
pop temp 0
push constant 3
push constant 40
call Output.moveCursor 2
pop temp 0
push local 3
call Output.printString 1
pop temp 0
push constant 3
push constant 50
call Output.moveCursor 2
pop temp 0
push local 4
call Output.printString 1
pop temp 0
push constant 0
return
function Board.fillBoard 9
push constant 10
pop local 0
push constant 7
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 0
push constant 51
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 20
lt
not
if-goto WHILE_END1
push local 2
push local 3
call Questions.getQuestion 2
pop local 7
push local 7
call Question.isComplete 1
pop local 8
push local 7
call Question.getValue 1
pop local 4
push local 1
push local 0
call Output.moveCursor 2
pop temp 0
push local 8
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
call String.new 1
push constant 88
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE0
push local 8
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
call Output.printInt 1
pop temp 0
label IF_FALSE1
push local 1
push constant 3
add
pop local 1
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 10
add
pop local 0
push constant 7
pop local 1
push local 2
push constant 1
add
pop local 2
push constant 0
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.addScore 0
push static 0
push argument 0
add
pop static 0
push constant 0
return
function Board.showScore 1
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 0
push constant 22
push constant 50
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
push static 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Board.showRemainingQuestions 0
push argument 0
pop pointer 0
push static 1
return
function Board.draw 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 51
push constant 25
push constant 51
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 133
push constant 25
push constant 133
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 215
push constant 25
push constant 215
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 297
push constant 25
push constant 297
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 379
push constant 25
push constant 379
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 461
push constant 25
push constant 461
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 51
push constant 25
push constant 461
push constant 25
call Screen.drawLine 4
pop temp 0
push constant 51
push constant 59
push constant 461
push constant 59
call Screen.drawLine 4
pop temp 0
push constant 51
push constant 93
push constant 461
push constant 93
call Screen.drawLine 4
pop temp 0
push constant 51
push constant 127
push constant 461
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 51
push constant 161
push constant 461
push constant 161
call Screen.drawLine 4
pop temp 0
push constant 51
push constant 195
push constant 461
push constant 195
call Screen.drawLine 4
pop temp 0
push constant 51
push constant 229
push constant 461
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 0
return
